@charset "utf-8";

.row { max-width:1000px; margin:50px auto; background:red}

h1 { text-align:center }
ul { display:flex; flex-wrap:wrap; }
li { background:#ddd; margin:10px; text-align:center; padding:10px; flex:0 1 31%;  }
